
@if $active-form-support {

$form-label-width: 200px;
$form-label-marge: $grid-gutter-width;
$form-form-item--fake-width: $form-label-width;

$form-background-color: #fff;
$form-border-color:     #c0c0c0;

form,
fieldset,
legend,
button,
input,
select,
textarea {
  margin: 0;
}

legend,
fieldset {
  padding: 0;
  border: 0;
}

// 1. Rétablit l'héritage de la propriété 'color'.
//    @bugfix   affected IE 8/9.
// 2. Permet au texte de revenir à la ligne du texte.
//    @bugfix   affected  FF 3.6
//    @see      http://stackoverflow.com/questions/6133571/how-can-i-make-legend-text-wrap
//    @note     IE 6 et IE 7 nécessitent une solution de contournement alternative.
// 3. Remove padding so people aren't caught out if they zero out fieldsets.
legend {
  white-space: normal; // 2
}

// 1. Correct font family not being inherited in all browsers.
// 2. Correct font size not being inherited in all browsers.
button,
input,
select,
textarea {
  vertical-align: baseline;
  font-family: inherit; // 1
  font-size: 100%; // 2
}

input,
select,
textarea {
  outline: 0;
  border: 1px solid #c0c0c0;
  background: #fff;
}

// 1. Masque la barre de défilement présente par défaut. IE 7/8/9.
// 2. Uniformise l'alignement vertical.
textarea {
  overflow: auto; // 1
  vertical-align: top; // 2
  resize: vertical;
  font-family: inherit;
  // width: 92%;
  &.resize-auto {
    resize: auto;
  }
}

button, label {
  cursor: pointer;
}

// 1. Address Firefox 4+ setting `line-height` on `input` using `!important` in
//    the UA stylesheet.
// 2. Re-set default cursor for disabled elements.
button, input {
  line-height: normal;
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled],
input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label {
  cursor: not-allowed; // 2
  background-color: #eee;
  opacity: 1;
}

input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label {
  background-color: transparent;
}

.form-item .form-item--fake,
input[type="text"],
input[type="tel"],
input[type="color"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="submit"] {
  display: inline-block;
  padding: 0 5px;
  line-height: normal; height: 32px;
}

input[type="text"],
input[type="tel"],
input[type="color"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea, select {
  width: 100%;
  transition: background-color .3s ease;
  &:focus {
    border-color: #333;
    background-color: darken($form-background-color, 3%);
  }
}

textarea,
input[type="file"] {
  padding: 5px;
}

input[type="submit"] {
  padding: 0 10px;
}

input[type="file"] {
  display: inline-block;
  font-size: 80%;
  line-height: 0;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
button,
html input[type="button"], // 1
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; // 3
  -webkit-appearance: button; // 2
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: baseline;
}

select {
  width: auto;
  padding: 6px 30px 5px 5px;
  border-radius: 0;
  text-indent: 0.01px;
  text-overflow: ""; // ellipsis;
  background: $form-background-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAQAAADvCgS4AAAAGklEQVR4AWNg+I8BcQGCyhAAXRlhpcQAQsoAMGIY6KADYAUAAAAASUVORK5CYII=') no-repeat 100% center;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-radius: none;
}

// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof).
// 3. Removes inner padding and search cancel button in Safari 5 and Chrome on OS X.
input[type="search"] {
  box-sizing: content-box; // 2
  -webkit-appearance: textfield; // 1
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none; // 3
  }
}

// Supprime les marges internes incompressibles.
// @bugfix   Firefox4+
// @see      http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*doc
---
title: All inputs
category: Base - Forms
---

```html_example

  <form action="" id="formExample">
    <p class="form-item">
      <label for="name">Name</label>
      <input class="field-txt" id="name" name="name" type="text" />
    </p>
    <p class="form-item has--error">
      <label for="email">Email</label>
      <input class="field-txt error" id="email" name="email" type="email" />
      <br /><small>Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </p>
    <p class="form-item">
      <label for="password">Password</label>
      <input class="field-txt" id="password" name="password" type="password" value="Password" />
    </p>
    <p class="form-item">
      <label for="url">Url</label>
      <input class="field-txt" id="url" name="url" type="url" />
    </p>
    <p class="form-item">
      <label for="message">Textarea</label>
      <textarea class="field-txt" cols="30" id="message" name="message" rows="5"></textarea>
    </p>
    <p class="form-item">
      <label for="message">Disabled textarea</label>
      <textarea class="field-txt" cols="30" id="message" name="message" rows="5" disabled="disabled"></textarea>
    </p>
    <p class="form-item">
      <label for="file">File</label>
      <input class="field-txt" id="file" name="file" type="file" />
    </p>
    <p class="form-item">
      <label for="select">Select</label>
      <select class="field-txt" id="select" name="select">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </p>
    <p class="form-item">
      <label for="select">Disabled select</label>
      <select class="field-txt" id="select" name="select" disabled="disabled">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </p>
    <fieldset class="form-item">
      <legend class="label">Birthday</legend>
      <div class="form-item"><input id="jj" maxlength="2" name="birth[jj]" placeholder="DD" size="4" title="DD" type="text" class="w20" /><input id="mm" maxlength="2" name="birth[mm]" placeholder="MM" size="4" title="MM" type="text" class="w20" /><input id="aaaa" maxlength="4" name="birth[aaaa]" placeholder="YYYY" size="4" title="YYYY" type="text" class="w20" /></div></fieldset>
    <div class="form-item form-item--fake">
      <div class="form-item">
        <input id="radio_off" name="optionsRadios" type="radio" />
        <label for="radio_off">Radio is off</label>
        <br />
        <input id="radio_on" name="optionsRadios" type="radio" checked="checked" />
        <label for="radio_on">Radio is on</label>
        <br />
        <input id="radio_off_disabled" name="optionsRadiosDisabled" type="radio" disabled="disabled" />
        <label class="muted" for="radio_off_disabled">Disabled radio is off</label>
        <br />
        <input id="radio_on_disabled" name="optionsRadiosDisabled" type="radio" checked="checked" disabled="disabled" />
        <label class="muted" for="radio_on_disabled">Disabled radio is on</label>
      </div>
    </div>
    <div class="form-item form-item--fake">
      <div class="form-item">
        <input id="checkbox_off" name="optionsCheckboxes" type="checkbox" />
        <label for="checkbox_off">Checkbox is off</label>
        <br />
        <input id="checkbox_on" name="optionsCheckboxes" type="checkbox" checked="checked" />
        <label for="checkbox_on">Checkbox is on</label>
        <br />
        <input id="checkbox_off_disabled" name="optionsCheckboxesDisabled" type="checkbox" disabled="disabled" />
        <label class="muted" for="checkbox_off_disabled">Disabled checkbox is off</label>
        <br />
        <input id="checkbox_on_disabled" name="optionsCheckboxesDisabled" type="checkbox" checked="checked" disabled="disabled" />
        <label class="muted" for="checkbox_on_disabled">Disabled checkbox is on</label>
      </div>
    </div>
    <p class="form-item form-item--fake">
      <button class="btn btn--primary" type="submit" name="submit">Send your message</button>
      <button class="btn btn--cancel" type="submit" name="cancel">Cancel</button>
    </p>
  </form>

```

*/

// Required
// <abbr class="field-required" title="This field is required.">*</abbr>
// ==========================================================================

.field-required {
  @extend .smaller;
  color: #666;
}

/*doc
---
title: Static Field
category: Base - Forms
---

```html_example

  <p class="form-item">
    <span class="label">Email</span>
    <span class="bold">email@example.com</span>
  </p>
  <p class="form-item">
    <label for="password">Password</label>
    <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
  </p>

```

*/

.form-item {
  @extend .clearfix;
  position: relative;
  padding: 0 0 0 $form-label-width + $form-label-marge;
  margin: 0 0 ($base-line-height / 2);
  border: 0;
  label,
  .label {
    @extend .inbl;
    @extend .amiddle;
    position: absolute;
    top: 0; left: 0;
    width: $form-label-width;
    padding: 0;
    margin-right: $form-label-marge;
    font-weight: bold;
    line-height: 32px;
    text-align: right;
    > span {
      display: inline-block;
      line-height: 1;
    }
  }
  .form-item {
    padding: 0;
    margin: 0;
    label,
    .label {
      position: relative;
      width: auto;
      padding: 0;
      margin-right: 0;
      font-weight: normal;
      text-align: left;
      // line-height: normal;
    }
  }
  .form-item--fake {
    @extend .pan;
  }
}
@include mq('smaller') {

  .form-item {
    padding-left: 0;
    margin-left: 0;
    label,
    .label {
      position: relative;
      display: block;
      width: auto;
      margin-right: 0;
      text-align: left;
    }
    .form-item {
      label,
      .label {
        display: inline-block;
      }
    }
  }

}

// .form-radios,
// .form-checkboxes,
// .container-inline-date {
//   .form-item {
//     display: inline-block;
//     margin-right: 10px;
//   }
// }

/*doc
---
title: Fake Field
category: Base - Forms
---

```html_example

  <p class="form-item form-item--fake">
    <span class="bold">email@example.com</span>
  </p>
  <p class="form-item">
    <label for="password">Password</label>
    <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
  </p>

```

*/

.form-item--fake,
.form-item--block {
  label, .label {
    position: relative;
    top: auto; left: auto;
    width: auto;
  }
}

.form-item--date-day,
.form-item--date-month,
.form-item--date-year {
  display: inline-block;
}

/*doc
---
title: Block Field
category: Base - Forms
---

```html_example

  <p class="form-item form-item--block">
    <span class="label">Email</span>
    <span class="bold">email@example.com</span>
  </p>
  <p class="form-item form-item--block">
    <label for="password">Password</label>
    <input class="field-txt" id="password" name="password" type="text" placeholder="Password" />
  </p>

```

*/

.form-item--block {
  padding: 0;
  > label,
  > .label {
    display: block;
    margin-right: 0;
    text-align: left;
  }
}

.form-item--inline {
  .form-item:first-child {
    margin-right: 20px;
  }
  .form-item {
    float: left;
  }
}

.form-managed-file {
  white-space: nowrap;
  .btn {
    font-size: 0;
    height: 32px;
    border-color: #C3C3C2;
    position: relative;
    left: -1px; top: -1px;
    padding: 7px;
    border-radius: 0 4px 4px 0;
    &:before {
      font-size: 16px;
    }
  }
}

div.password-confirm,
.password-strength {
  float: right;
  line-height: 32px;
}

div.password-confirm {
  visibility: hidden;
}

.password-strength {
  &-title {
    display: inline-block;
  }
  &-text {
    float: right;
    font-weight: 700;
    font-style: normal;
    margin-left: 5px;
  }
}

div.form-item div.password-suggestions {
  margin-top: ($base-line-height / 2);
  padding: 10px 20px;
  border: 1px solid #B4B4B4;
}

/*doc
---
title: Field states
category: Base - Forms
---

```html_example

  <form action="" id="formErrors">
    <p class="form-item has--info">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </p>
    <p class="form-item has--warning">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </p>
    <p class="form-item has--error">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </p>
    <p class="form-item has--status">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </p>
  </form>

```

*/

@each $name, $values in $message {
  $color: map-get($values, 'background');
  .has--#{$name} {
    @if map-get($values, 'color') {
      @extend .text--#{$name};
      // color: map-get($values, 'color');
    }
    @else {
      @extend .text--#{$name};
      // color: $color;
    }
  }
  .has--#{$name} input,
  .has--#{$name} select,
  .has--#{$name} textarea {
    @if map-get($values, 'color') {
      border-color: map-get($values, 'color');
    }
    @else {
      border-color: $color;
    }
  }
}

/*
---
title: Placeholder
category: Base - Forms
---

Couleurs de placeholder : ne pas fusionner les sélecteurs !
@see http://stackoverflow.com/a/2610741

*/

$field-placeholder: #999;
::-webkit-input-placeholder { // WebKit browsers
  color: $field-placeholder; }
:-moz-placeholder { // Mozilla Firefox 4 to 18
  color: $field-placeholder; }
::-moz-placeholder { // Mozilla Firefox 19+
  color: $field-placeholder; }
:-ms-input-placeholder { // Internet Explorer 10+
  color: $field-placeholder; }

/* */
} // enf if
