
/*doc
---
title: Filter
category: Module - Filter
---

Default Style CSS

*/
.tips {
  margin-top: 1em;
  font-size: 80%;
}

.filter-help a {
  border-bottom: 0;
}
.filter-help a:before {
  content: "\ed55";
  font-family: "icomoon";
  margin-right: .5em;
}

.filter-wrapper {
  border-bottom: 0.0625em solid #ccc;
  background: #fff;
  border-top: 0;
}

.filter .fieldset-wrapper {
  padding: 0.75em 1.5em;
}

.text-format-wrapper .form-item {
  padding-left: 0;
  margin-bottom: 0;
}
.text-format-wrapper .form-item label,
.text-format-wrapper .form-item .label {
  position: relative;
  width: auto;
  margin-right: 0;
  text-align: left;
}

.ckeditor_links {
  display: block;
  padding: 0.75em 1.5em;
  border-right: 0.0625em solid #ccc;
  border-bottom: 0;
  border-left: 0.0625em solid #ccc;
  background: #fff;
}

.ckeditor_links:hover,
.ckeditor_links:focus {
  border-right: 0.0625em solid #ccc;
  border-left: 0.0625em solid #ccc;
  background: #E11B27;
  color: #fff;
}
