
.addressfield-container-inline:after {
  clear: both;
  content: "";
  display: table;
}

/*doc
---
title: Addressfield
category: Module - Addressfield
---

Default Style CSS

*/
.addressfield-container .form-item:last-child,
.addressfield-container-inline.locality-block .form-item {
  margin-bottom: 0;
}

.addressfield-container-inline .form-item {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}
