
/*doc
---
title: Page
category: Pages - Page
---

Content type : **Page**

*/

.node-type-article {

  .main__header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .header {
    border-bottom: 1px solid #ccc;
    padding-bottom: rhythm(0.5, $base-font-size);
    margin-bottom: rhythm(1, $base-font-size);
    ul {
      @extend .list-inline;
      @extend .list-separate;
      margin-top: 0;
    }
  }
}
