
/*doc
---
title: Typography
category: Base - Typo
---

Divers styles de typographie

|Key | Example | Code
|----|---------|-----|
|CAPS TEXT | <span class="caps">Text</span> | ``` <span class="caps">Text</span> ```
|small-caps | <span class="small-caps">Text</span> | ``` <span class="small-caps">Text</span> ```
|no-caps | <span class="no-caps">Text</span> | ``` <span class="no-caps">Text</span> ```
|lowercase | <span class="lower-caps">Long Text</span> lowercase Text | ``` <span class="lower-caps">Text</span> ```
|Capitalize | <span class="capitalize">Long Text</span> Capitalize Text | ``` <span class="capitalize">Text</span> ```
|bold | <span class="bold">Long strong Text</span> | ``` <span class="bold">Text</span> or <strong>Text</strong> ```
|italic | <span class="italic">Long italic Text</span> | ``` <span class="italic">Text</span> or <em>Text</em> ```
|regular | <span class="regular">Long Text</span> | ``` <span class="regular">Text</span> ```
|underline | <span class="underline">Long Text</span> | ``` <span class="underline">Text</span> or <s>Text</s> ```
|No underline | <span class="nounderline">Long Text</span> | ``` <span class="nounderline">Text</span> ```
|Strike | <span class="strike">Long Text</span> | ``` <span class="strike">Text</span> or <del>Text</del> ```

*/
.caps, .uppercase {
  text-transform: uppercase; }

.small-caps {
  font-variant: small-caps; }

.lower-caps {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.no-caps {
  font-variant: normal; }

.regular {
  font-weight: normal;
  font-style: normal; }

.bold, strong, dt, dfn[title], .messages a, em.placeholder {
  font-weight: 700;
  font-style: normal; }

.italic, dfn[title], figcaption, caption {
  font-weight: 300;
  font-style: italic; }

.underline {
  text-decoration: underline; }

.nounderline {
  text-decoration: none;
  border-bottom: 0; }

.ellipsis {
  text-overflow: ellipsis; }

.strike {
  text-decoration: line-through; }

/*doc
---
title: Text alignment
category: Base - Typo
---

La justification n'est pas disponible car interdite en accessibilité pour des questions de lisibilité. Ou alors, la justication doit être contrôlable par l'utilisateur.

```html_example

  <p class="text-left mvn">Aligné à gauche (défaut)</p>
  <p class="text-right mvn">Aligné à droite</p>
  <p class="text-center mvn">Centré</p>

```

*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*doc
---
title: Blocs flottant
category: Base - Typo
---

* `.pull-left` - Floattant à gauche
* `.pull-right` - Floattant à droite
* `.pull-none` - Annuler le float

```html_example

  <div class="clearfix">
    <p class="pull-left mvn">Text</p>
    <p class="pull-right mvn">Text</p>
  </div>

```

*/
.pull-left, .alignleft {
  float: left; }

.pull-right, .alignright {
  float: right; }

.pull-none {
  float: none; }

.alignleft {
  margin-right: 30px;
  margin-left: 0; }

.alignright {
  margin-right: 0;
  margin-left: 30px; }

.alignnone, .aligncenter {
  margin-left: 0;
  margin-right: 0;
  display: block; }

.aligncenter {
  margin-left: auto;
  margin-right: auto; }

.list-none,
.item-list ul {
  list-style-type: none;
  padding-left: 0; }

.list-inline {
  list-style-type: none;
  padding-left: 0; }
  .list-inline li {
    display: inline; }

.list-separate li:before {
  content: " · ";
  padding-left: 5px;
  padding-right: 5px;
}

.list-separate li:first-child:before {
  content: "";
  padding-left: 0;
  padding-right: 0;
}

.definition-inline dt {
  float: left;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.definition-inline dd {
  margin-left: 160px;
}

.definition-inline:after,
.alignnone:after,
.aligncenter:after {
  clear: both;
  content: "";
  display: table;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

/*doc
---
title: Video Responsive
category: Base - Media Elements
---

Wrapper vidéo responsive

```html_example

  <div class="wrapper-media">
    <iframe title="Title de la vidéo" width="1170" height="570" src="http://www.youtube.com/embed/2S79ZNV00HE" frameborder="0" allowfullscreen=""></iframe>
  </div>

```

*/
.wrapper-media {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.wrapper-media iframe,
.wrapper-media object,
.wrapper-media embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
