
/*doc
---
title: Component
category: Theme - Component
---

```html_example

  <div class="component">
    <a href="#" class="component__link">
      <div class="component__effect effect">
        <div class= class="component__image img">
          <img class="img-responsive" src="/sites/all/themes/vossen/images/clients/l-a.jpg">
        </div>
      </div>
      <div class="component__content">
        <h3 class="component__title">Facebook</h3>
        <span>Be Friend</span>
      </div>
    </a>
  </div>

```

*/
.component {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.component__content {
  margin-top: .5em;
}
.component__title {
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 120%;
  color: #1c1c1c;
}
.component__link {
  display: block;
  border-bottom: 0;
}
.component__description {
  margin-top: .2em;
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 700;
  font-size: 90%;
  letter-spacing: .01em;
}
.component__extra {
  margin-top: 1em;
}
.component__extra p {
  font-size: 90%;
  color: #1c1c1c;
}
.component .floor {
  padding: 1em;
}
.component .floor__title {
  margin-bottom: .5em;
  font-size: 140%;
  line-height: 1.2;
  color: #fff;
}
.component .floor__description {
  margin-bottom: .5em;
}
.component .floor__description p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #7a7a7a;
}
.component .component__link {
  border-bottom: 0;
  transition: color .25s ease-in-out;
}
.component .component__link:hover .component__title,
.component .component__link:focus .component__title {
  color: #E11B27;
}
.component .component__link:hover [class*="icon-"],
.component .component__link:focus [class*="icon-"] {
  color: #fff;
}
.component--member .component__title {
  font-size: 110%;
}
.component--service .component__content {
  margin-top: 1.5em;
}
  .component--service .component__content p {
    margin-top: 0;
  }
.component--service .component__title + p {
  margin-top: 1em;
}
.component--overlay .component__title {
  font-weight: 700;
  color: #1c1c1c;
}
.component--overlay .component__content {
  padding: .5em 1em .8em;
  margin-top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: bottom .25s ease-in-out;
}
.component--overlay:hover .component__content,
.component--overlay .component__link:hover .component__content,
.component--overlay .component__link:focus .component__content {
  bottom: -100%;
}

.component-container {
  margin-bottom: 1.5em;
}
