
/*doc
---
title: Effects
category: Component - Effects
---

Modèle pour faire un effet overlay + content,
au survol d'une image.

```html_example

  <div>
    <a href="#">
      <div class="effect">
        <div class= class="img">
          <img class="img-responsive" src="/sites/all/themes/vossen/images/clients/l-a.jpg">
          <div class="overlay">
            <div class="expand">
              <div class="floor">
                <div class="floor__content">
                  ... overlay content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

```

*/
.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  padding: 0;
}

.overlay {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.80);
  transition: all 0.5s;
}

.effect {
  position: relative;
  overflow: hidden;
}
.effect .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.effect .overlay .expand {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  top: -100%;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}
.effect .overlay .floor {
  display: table-cell;
  vertical-align: middle;
}
.effect .img {
  position: relative;
}
.effect .img img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.25s ease-in-out;
}
.effect:hover .img img,
a:hover .effect .img img,
a:focus .effect .img img {
  transform: scale(1.25);
}
.effect:hover .img .overlay,
a:hover .effect .img .overlay,
a:focus .effect .img .overlay {
  opacity: 1;
}
.effect:hover .img .overlay .expand,
a:hover .effect .img .overlay .expand,
a:focus .effect .img .overlay .expand {
  top: 0;
  opacity: 1;
}
