
/*doc
---
title: Aside
category: Layout - Layer
---

Combine `.aside` with the modifier `.aside--right`

```html_example

  <div class="complementary aside">
    <aside id="complementary" role="complementary">
      ...
    </aside>
  </div>

```

*/
.aside .block {
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #fff;
}
.aside .block--first {
  margin-top: 0;
}
.aside .block--last {
  margin-bottom: 0;
}
.aside .block__title {
  padding-bottom: 0.75em;
  border-bottom: 0.0625em solid #ccc;
  margin-bottom: 0.75em;
}
.aside .block--menu {
  border: 0.0625em solid #ccc;
  background: #f2f2f2;
}
.aside .block--menu .menu {
  display: block;
  position: relative;
  left: 0;
  width: auto;
}
.aside .block--menu .menu li {
  display: block;
  border-top: 0;
}

@media (max-width: 768px) {
  .aside {
    margin-bottom: 1.5em;
  }
}
