
.block--lang-dropdown {
  display: inline-block;
}

.content,
.main,
.node,
.block {
  position: relative;
}

#container {
  padding-top: 3em;
  padding-bottom: 3em;
}

.page-banner,
.page-contentinfo {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

@media (max-width: 767px) {
  .banner .col-xs-12.col-sm-8 {
    margin-bottom: 1em;
  }
}

.branding {
  text-align: right; /* LTR */
}

.breadcrumb {
  margin-bottom: 12px;
  font-size: 80%;
}

/*doc
---
title: Main header
category: Layout - Layer
---

```html_example

  <main id="main" class="main" role="main">
    <div class="main__header">
      <h1 class="main__title">Lorem ipsum dolor sit</h1>
      <ul class="tabs tabs--user">
        <li class="active"><a href="#" class="active">View<span class="element-invisible">(active tab)</span></a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </main>

```

*/
.main__title {
  text-transform: uppercase;
  margin-bottom: 0;
}
.main__title + * {
  margin-top: 0;
}
.main__header {
  margin-bottom: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-top: 0.0625em solid #ccc;
  border-bottom: 0.0625em solid #ccc;
}

/*doc
---
title: Theme Field
category: Overrides - Field
---

*/
.node--full .field--name-field-image {
  text-align: center;
  margin-bottom: 1.5em;
}

/*doc
---
title: Theme Node
category: Overrides - Node
---

Content type : **Node**

*/
.header .meta {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.header .meta li {
  display: inline;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
}
.header .meta li:before {
  content: " · ";
  padding-left: 5px;
  padding-right: 5px;
}
.header .meta li:first-child:before {
  content: "";
  padding-left: 0;
  padding-right: 0;
}

.page--node-full .main__header {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.page--node-full .node__content {
  border-top: 1px solid #ccc;
  padding-top: 1.5em;
  margin-top: 0.75em;
}
