
/*doc
---
title: Footer
category: Layout - Layer
---

```html_example

  <div class="contentinfo">
    <footer id="contentinfo" role="contentinfo" class="container clearfix">
      ...
    </footer>
  </div>

```

*/

.contentinfo {
  background: #333;
  &,
  a {
    color: #999;
  }
  a:hover,
  a:focus,
  a:active {
    color: #fff;
  }
}
