
/*doc
---
title: Node
category: Module - Node
---

Content type : **Node**

*/

.node__link {
  border-bottom: 0;
  text-decoration: none;
}

.node__link:hover,
.node__link:focus,
.node__link:active {
  border-bottom: 1px solid;
}

.node--teaser {
  margin-bottom: 1.5em;
}

.node--unpublished {
  padding: 1.5em;
  background: #fbf6e5;
}

.node--teaser.node--sticky {
  background: #333;
}
.node--teaser.node--sticky,
.node--teaser.node--sticky a {
  color: #fff;
}
