
/*doc
---
title: Field
category: Module - Field
---

Default Style CSS

*/
.field-label {
  font-weight: 700;
  font-style: normal;
}

.field--label-inline,
.field--label-above {
  margin-bottom: 0;
}

.field--label-inline:after {
  content: "";
  display: table;
  clear: both;
}

.field--label-inline .field-label {
  margin-right: 0.75em;
  float: left;
}

.node .field--label-inline,
.node .field--label-above {
  margin-bottom: 0.75em;
}
