
// Helpers
@import
  '../helpers/vars',
  '../helpers/functions',
  '../helpers/mixins';

/*doc
---
title: Field
category: Module - Field
---

[TODO]

*/
.field {
  &-label {
    font-weight: bold;
  }
  &--label-inline {
    // Clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .field-label {
      margin-right: rhythm(.5);
      float: left;
    }
  }
  .node &--label-inline,
  .node &--label-above {
    margin-bottom: rhythm(.5);
  }
  &--label-inline,
  &--label-above {
    margin-bottom: 0;
  }
}
