
// Import Variables / Helpers
@import "../import";

/*doc
---
title: Search
category: Module - Search
---

[TODO]

*/

.search-advanced {
  border: pem(1px) solid #ccc;
  padding: 0 rhythm(1) rhythm(1);

  legend {
    padding: rhythm(1) rhythm(.5);
  }
}

// .search-form {
//   margin-bottom: 1em;
// }
// .search-form input {
//   margin-top: 0;
//   margin-bottom: 0;
// }
// .search-results {
//   list-style: none;
// }
// .search-results p {
//   margin-top: 0;
// }
// .search-results .title {
//   font-size: 1.2em;
// }
// .search-results li {
//   margin-bottom: 1em;
// }
// .search-results .search-snippet-info {
//   padding-left: 1em; /* LTR */
// }
// .search-results .search-info {
//   font-size: 0.85em;
// }

.search-advanced {
  .btn {
    border-radius: 0;
    font-size: 1em;
    width: auto;
    padding: 1em;
    height: auto;
    &:before {
      margin-right: 0.5em;
    }
  }
}

.criterion {
  &--keywords {
    .form-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
