
// Helpers
// scss-lint:disable Indentation
@import
  "../helpers/vars",
  "../helpers/functions",
  "../helpers/mixins";
// scss-lint:enable Indentation

/*doc
---
title: System menus
category: Module - System menus
---

[TODO]

*/

ul li.expanded > a:before,
ul li.collapsed > a:before {
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -12px;
}

ul li.expanded > a:before {
  content: "\edc9";
}

ul li.collapsed > a:before {
  content: "\edc8";
}
// ul li.leaf > a:before {
//   content: "\ed5e";
// }

li a.active,
li.active-trail > a {
  color: #{map-get($colorz, "primary")};
}
