
// Helpers
@import
  '../helpers/vars',
  '../helpers/functions',
  '../helpers/mixins';

/*doc
---
title: Vertical Tabs
category: Module - Vertical Tabs
---

[TODO]

*/
div.vertical-tabs {
  margin: rhythm(1) 0 rhythm(1) 15em; /* LTR */
  border: 1px solid #ccc;
}
.vertical-tabs ul.vertical-tabs-list {
  width: 15em;
  list-style: none;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: -1px 0 -1px -15em; /* LTR */
  float: left; /* LTR */
}
.vertical-tabs fieldset.vertical-tabs-pane {
  margin: 0 !important;
  padding: rhythm(1);
  border: 0;
}
fieldset.vertical-tabs-pane legend {
  display: none;
}
fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

/* Layout of each tab */
.vertical-tabs ul.vertical-tabs-list li {
  background: #ebebeb;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 0;
  margin: 0;
}

.vertical-tabs ul.vertical-tabs-list li a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em;
  border-bottom: 0;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 1px solid;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #fff;
  border-right-width: 0; /* LTR */
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #000;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  display: block;
  font-size: 80%;
}
.vertical-tabs ul.vertical-tabs ul.vertical-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
.vertical-tabs .form-type-textfield input {
  width: 100%;
}
