/**
 * subtheme_child Drupal Theme
 * Import variables, mixins, functions
 *
 * OWNER_NAME <OWNER_EMAIL>
 * (CURRENT_YEAR)
 */

/*doc
---
title: Contextual Links
category: Module - Contextual Links
---

Default Style CSS

*/
.contextual-links {
  display: none;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  font-size: 80%;
  border: 1px solid #ccc;
  background: #fff;
}
.contextual-links a {
  display: block;
  padding: 2px 5px;
  border-bottom: 0 !important;
  color: #000 !important;
}
.contextual-links a:hover,
.contextual-links a:focus {
  border-bottom: 0;
  background: #ccc;
}
.contextual-links-region {
  outline: none;
  position: relative;
}
.contextual-links-region-active {
  outline: 2px dashed #ff0;
}
.contextual-links-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}
html.js .contextual-links-wrapper {
  display: block;
}
.contextual-links-trigger {
  font-weight: 700;
  font-style: normal;
  border-bottom: 0;
  display: inline-block;
  padding: 5px 8px;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  background: #d96459;
}
.contextual-links-trigger:hover,
.contextual-links-trigger:focus,
.contextual-links-trigger-active {
  background: #ff0;
  color: #000 !important;
}
.block--locale .contextual-links-wrapper {
  text-align: left;
  right: auto;
}
