
/*
subtheme_child Drupal Theme
Override Drupal admin default CSS

Author : parms_owner <parms_email>
MIT 2016

*/

// Helpers
@import
  'helpers/vars',
  'helpers/functions',
  'helpers/mixins';

.contextual-links-wrapper {
  position: absolute;
  top: 0; right: 0;
  z-index: 10;
  text-align: right;
  > a {
    color: #fff;
    background-color: #d96459;
    padding: 8px;
    display: inline-block;
    border-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
  }
  .contextual-links {
    display: none;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 80%;
    a,
    a:hover,
    a:focus,
    a:active {
      color: #000 !important;
    }
  }
}
