
/*doc
---
title: Basique
category: Components - Collection
---

```html_example

  <div class="collection">
    <ul class="collection-list">
      <li class="collection-item">Lorem Ipsum 1</li>
      <li class="collection-item">Lorem Ipsum 2</li>
      <li class="collection-item">Lorem Ipsum 3</li>
      <li class="collection-item">Lorem Ipsum 4</li>
    </ul>
  </div>

```

*/

.collection {
  overflow: hidden;
  position: relative;
  border: 1px solid #e0e0e0;
  &-title {
    margin-bottom: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
  }
  &-list {
    @extend .list-none;
    margin: 0;
  }
  &-item {
    padding: 10px 20px;
    line-height: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
  }
  &-link {
    display: block;
    transition: 0.25s;
    border-bottom: 0;
    color: #26a69a;
  }
}

/*doc
---
title: Links
category: Components - Collection
---

```html_example

  <div class="collection">
    <ul class="collection-list">
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 1</a></li>
      <li class="collection-item"><a href="#" class="collection-link active">Lorem Ipsum 2</a></li>
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 3</a></li>
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 4</a></li>
    </ul>
  </div>

```

*/


/*doc
---
title: Hearders
category: Components - Collection
---

```html_example

  <div class="collection">
    <h2 class="collection-title">Title</h2>
    <ul class="collection-list">
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 1 <span class="collecton-icon i i-chevron-right" aria-hidden="true"></span></a></li>
      <li class="collection-item"><a href="#" class="collection-link active">Lorem Ipsum 2 <span class="collecton-icon i i-chevron-right" aria-hidden="true"></span></a></li>
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 3 <span class="collecton-icon i i-chevron-right" aria-hidden="true"></span></a></li>
      <li class="collection-item"><a href="#" class="collection-link">Lorem Ipsum 4 <span class="collecton-icon i i-chevron-right" aria-hidden="true"></span></a></li>
    </ul>
  </div>

```

*/
