
/*doc
---
title: Comment
category: Components - Comment
---

```html_example

<div id="comments" class="comments">
  <h1 class="comments__title">Comments</h1>
  <ul class="comments__list list-none">
    <li id="comment-171">
      <p class="metas">By <a href="#" rel="external nofollow" title="John Doe (show John Doe Website)">John Doe</a>, 25 july 2015 at 16h23.</p>
      <img alt="" src="http://placehold.it/40" class="avatar" height="40" width="40" />

      <p class="repondre"><a href="#" title="Reply to John Doe at 25 july 2015, 16h23.">Répondre</a></p>

    </li>
  </ul>
</div>

```

*/

.commentsAdd {
  padding: 1.5em;
  margin-top: rhythm(1);
  background: #fff;
}

.comments,
.comment-form .node {
  margin-top: rhythm(2);
  padding-top: 1.5em;
  border-top: 1px solid #ccc;
}

.commentsSubmit {
  margin-bottom: rhythm(1);
  &:last-child {
    margin-bottom: 0;
  }
}

.comment {
  margin-top: rhythm(1);
  // margin-bottom: rhythm(1);
  &__description {
    background: #fff;
  }
}

.indented {
  padding-left: 1.5em;
}
