
/*doc
---
title: Search Form
category: Components - Form
---

```html_example

  <div id="search" class="search">
    <form class="search__form" role="search" action="/" method="post" id="search-form">
      <input title="Search by keywords" placeholder="Enter your keywords…" type="search" name="search_block_form" value="" size="30" class="search__input form-text" /><button class="search__submit" title="Search on website Starter" type="submit" name="op"><span class="i i-search" aria-hidden="true"></span> Search</button>
    </form>
  </div>

```

*/

.search {
  &__form {}
  &__input {
    width: auto!important;
  }
}

.search__submit {
  background: #333;
  color: #fff;
  padding: 0 5px;
  border: 0;
  border-radius: 0;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  position: relative;
  &:hover,
  &:focus {
    background: #{map-get($colorz, 'secondary')};
  }
}

.search-advanced {
  border: 1px solid;
  padding: 0 20px 20px;
  legend {
    padding: 15px;
    margin-left: 43px;
  }
}
