
/*doc
---
title: Tabs
category: Components - Tabs
---

[TODO]

*/
ul.links,
.tabs--primary {
  list-style-type: none;
  padding-left: 0;
  @extend .list-inline;
  @extend .list-separate;
  a {
    text-transform: uppercase;
    border-bottom: 0;
  }
  .active {
    @extend .bold;
    border-bottom: 0;
    color: #{map-get($colorz, 'primary')};
  }
}
