/*
Override Drupal admin default CSS

Author : Axel Roche <axel@aquelito.fr>
MIT 2016

*/
/*doc
---
title: Heading Font Size
category: Global - Variables
---

| Key | Value | Example
|-----|-------|--------
| h1  |  36px | <h1>.h1 Lorem Ipsum</h1>
| h2  |  28px | <h2>.h2 Lorem Ipsum</h2>
| h3  |  24px | <h3>.h3 Lorem Ipsum</h3>
| h4  |  18px | <h4>.h4 Lorem Ipsum</h4>
| h5  |  16px | <h5>.h5 Lorem Ipsum</h5>
| h6  |  14px | <h6>.h6 Lorem Ipsum</h6>

*/
/*doc
---
title: Other Font Size
category: Global - Variables
---

| Key     | Value | Example
|---------|-------|---------
| smaller |  12px | <span class="smaller">Lorem Ipsum</span>
| small   |  14px | <span class="small">Lorem Ipsum</span>
| meduim  |  20px | <span class="medium">Lorem Ipsum</span>
| big     |  26px | <span class="big">Lorem Ipsum</span>
| bigger  |  30px | <span class="bigger">Lorem Ipsum</span>

*/
/*doc
---
title: Colorz
category: Global - Variables
---

Available for selectors :

* `<key>-color`
* `<key>-background`
* `<key>-border`

| Key | Hexa  | Background | Colorz
|-----|-------|------------|--------
| default | <span style="color:#2a4e6e">#2a4e6e</span> | <span class="default-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="default-color pas">Lorem Ipsum</span>
| primary | <span style="color:#aa5c39">#aa5c39</span> | <span class="primary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="primary-color pas">Lorem Ipsum</span>
| secondary | <span style="color:#aa8c39">#aa8c39</span> | <span class="secondary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="secondary-color pas">Lorem Ipsum</span>
| black | <span style="color:#333">#333</span> | <span class="black-background white-color bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="black-color pas">Lorem Ipsum</span>
| white | <span style="color:#fff">#fff</span> | <span class="white-background black-color bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="black-background white-color pas">Lorem Ipsum</span>
| grey | <span style="color:#555566">#555566</span> | <span class="grey-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="grey-color pas">Lorem Ipsum</span>
*/
/*doc
---
title: Convert px to em
category: Global - Functions
---

Convert px to em. Exemple `font-size: pem(16px);`.

@function color($name, $opacity: 1, $lighten, $darken)

-   __$px:__ pixel value
-   __$base:__ default: `$base-font-size`

````

  .class-name {
    font-size: pem(16px);
  }

````

*/
/*

Configuration Mixins

*/
/*doc
---
title: Inline-block
category: Global - Mixins
---

@mixin inline-block

-    __$alignment:__ Vertiale alignment

```

  .class__name {
    @include inline-block("top");
  }

```

*/
/*doc
---
title: Media Queries
category: Global - Mixins
---

Variable `$keyword` possible egal to :

* `large` : screen and min-width: 1200px
* `medium` : screen and min-width: 769px
* `small` : screen and max-width: 768px

@mixin mq

-    __$keyword:__ Media queries name

```

  @include mq("large") {
    ...
  }

```

*/
/*
---
title: Grid
category: Grid - Mixins
---

Framework grid generation
Used only by Bootstrap to generate the correct number of grid classes given any value of `$grid-columns`.

[converter] This is defined recursively in LESS, but Sass supports real loops

*/
.tabs.primary {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }
  .tabs.primary li {
    display: inline; }
  .tabs.primary a {
    padding: 5px;
    line-height: 1;
    display: inline-block; }
    .tabs.primary a:hover, .tabs.primary a:focus {
      background: #fff; }
  .tabs.primary a:active,
  .tabs.primary .active {
    color: #fff;
    background-color: #d96459;
    border-bottom: 0;
    text-decoration: none;
    font-weight: bold; }

/* */
.tabs.primary,
.contextual-links-wrapper {
  position: absolute;
  top: 0;
  right: 0; }

.contextual-links-wrapper {
  text-align: right; }
  .contextual-links-wrapper > a {
    color: #fff;
    background-color: #d96459;
    padding: 8px;
    display: inline-block;
    border-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; }
  .contextual-links-wrapper ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  .contextual-links-wrapper .contextual-links {
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 80%; }
    .contextual-links-wrapper .contextual-links a,
    .contextual-links-wrapper .contextual-links a:hover,
    .contextual-links-wrapper .contextual-links a:focus,
    .contextual-links-wrapper .contextual-links a:active {
      color: #000 !important; }
