
/*doc
---
title: Field Collection
category: Module - Field Collection
---

[TODO]

*/
.field-collection-container {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 1em;
}
.field-collection-container .field-items .field-item {
  margin-bottom: 10px;
}
.field-collection-container .field-items .field-items .field-item {
  margin-bottom: 0;
}
