
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/*doc
---
title: Inline-block (Elements)
category: Base - Helpers
---

* `.inbl.atop` - Alignment top (default)
* `.inbl.amiddle` - Alignment middle
* `.inbl.abottom` - Alignment bottom

*/

.inbl,
.container-inline > div {
  display: inline-block;
}

.atop { vertical-align: top; }
.abottom { vertical-align: bottom; }
.amiddle { vertical-align: middle; }

/*doc
---
title: Progress bar
category: Components - Progress bar
---

```html_example

  <div class="progress" id="progress">
    <div class="bar"><div class="filled" style="width:10%"></div></div>
    <div class="percentage">
      <p class="bold">10%</p>
    </div>
    <div class="message">
      <p>Message progressive</p>
    </div>
  </div>

```

*/
.progress .bar {
  border: 1px solid #666;
  background: #fff;
}

.progress .filled {
  height: 1.5em;
  width: 5px;
  background: #b3161f;
}

.progress .percentage {
  float: right; /* LTR */
}

.progress .message {
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 80%;
}

/*doc
---
title: Pagination
category: Components - Pagination
---

* `.text-center` : align center
* `.text-right` : align right

Simple pagination. The large block is hard to miss, easily scalable, and provides large click areas.
Le titre peut être caché avec `.hide`

```html_example

  <div class="pagination clearfix">
    <h2 class="pagination__title h5 mvn">Page 2 of 5</h2>
    <ul class="pagination__list list-inline mvn">
      <li class="pagination__item"><a class="pagination__link pagination__prev" rel="prev" href="#" title="Go to prev page (1 of 5)"><span class="i i-arrow-left"></span> Prev</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 1 of 5">1</a></li>
      <li class="pagination__item pagination--current"><strong>2</strong></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 3 of 5">3</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 4 of 5">4</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 5 of 5">5</a></li>
      <li class="pagination__item"><a class="pagination__link pagination__next" rel="next" href="#" title="Go to next page (3 of 5)">Next <span class="i i-arrow-right"></span></a></li>
    </ul>
  </div>

  <div class="pagination text-center mtl clearfix">
    <h2 class="pagination__title h5 mvn">Page 2 of 5</h2>
    <ul class="pagination__list list-inline mvn">
      <li class="pagination__item"><a class="pagination__link pagination__prev" rel="prev" href="#" title="Go to prev page (1 of 5)"><span class="i i-arrow-left"></span> Prev</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 1 of 5">1</a></li>
      <li class="pagination__item pagination--current"><strong>2</strong></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 3 of 5">3</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 4 of 5">4</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 5 of 5">5</a></li>
      <li class="pagination__item"><a class="pagination__link pagination__next" rel="next" href="#" title="Go to next page (3 of 5)">Next <span class="i i-arrow-right"></span></a></li>
    </ul>
  </div>

  <div class="pagination text-right mtl clearfix">
    <h2 class="pagination__title h5 mvn">Page 2 of 5</h2>
    <ul class="pagination__list list-inline mvn">
      <li class="pagination__item"><a class="pagination__link pagination__prev" rel="prev" href="#" title="Go to prev page (1 of 5)"><span class="i i-arrow-left"></span> Prev</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 1 of 5">1</a></li>
      <li class="pagination__item pagination--current"><strong>2</strong></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 3 of 5">3</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 4 of 5">4</a></li>
      <li class="pagination__item"><a rel="noindex follow" class="pagination__link" href="#" title="Go to page 5 of 5">5</a></li>
      <li class="pagination__item"><a class="pagination__link pagination__next" rel="next" href="#" title="Go to next page (3 of 5)">Next <span class="i i-arrow-right"></span></a></li>
    </ul>
  </div>

```

*/
.pagination__link,
.pagination--current strong,
.pagination--current dt {
  border: 1px solid;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
  color: #7d7d7d;
}

.pagination--current strong,
.pagination--current dt {
  background: #333;
  color: #fff;
}

.pagination__link:hover,
.pagination__link:focus {
  background: #b3161f;
  color: #fff;
}

/*doc
---
title: Tabs
category: Components - Tabs
---

[TODO]

*/
ul.tabs--primary {
  margin-top: 1.5em;
}

.tabs--primary {
  list-style-type: none;
  padding-left: 0; /* LTR */
}
.tabs--primary li {
  display: inline-block;
}
.tabs--primary a {
  display: block;
  padding: 1em;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80%;
  border-bottom: 0;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  color: #666;
}
.tabs--primary a:hover,
.tabs--primary a:focus {
  background: #e3e3e3;
}
.tabs--primary .active a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  background: #b3161f;
}
