
/*doc
---
title: Message
category: Components - Messages
---

Message d'avertissement délivré par Drupal.

  <div role="alert" class="messages messages--info messages--icon clearfix">
    <h2 class="messages__title hide">Message</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--info clearfix">
    <h2 class="messages__title hide">Message</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

*/
/*doc
---
title: Message error
category: Components - Messages
---

Modifier `.messages--error` && `.messages--icon`

  <div role="alert" class="messages messages--error messages--icon clearfix">
    <h2 class="messages__title hide">Message d'erreur</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a><br />
      Nous vous recommadons de vérifier les données.</p>
    </div>
  </div>

  <div role="alert" class="messages messages--error clearfix">
    <h2 class="messages__title hide">Message d'erreur</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a><br />
      Nous vous recommadons de vérifier les données.</p>
    </div>
  </div>

*/
/*doc
---
title: Message success
category: Components - Messages
---

Modifier `.messages--status` && `.messages--icon`

  <div role="alert" class="messages messages--status messages--icon clearfix">
    <h2 class="messages__title hide">Message succès</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--status clearfix">
    <h2 class="messages__title hide">Message succès</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

*/
/*doc
---
title: Message warning
category: Components - Messages
---

Modifier `.messages--warning` && `.messages--icon`

```html_example

  <div role="alert" class="messages messages--warning messages--icon clearfix">
    <h2 class="messages__title hide">Message d'alerte</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--warning clearfix">
    <h2 class="messages__title hide">Message d'alerte</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

```

*/
.messages {
  min-height: 96px;
  padding: 1.5em;
  margin: 1.5em 0;
  border-left: 1.5em solid; /* LTR */
  background: #ccc;
  color: #1c1c1c;
  text-align: left;
  overflow: hidden;
}
#content > .messages,
.main > .messages {
  margin-top: 0 !important;
}
.messages p,
.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}
.messages a:hover,
.messages a:focus,
.messages a:active {
  color: inherit;
}
.messages__title,
.messages__list {
  margin: 0;
}
.messages__content {
  position: relative;
}
.messages--icon .messages__content {
  position: relative;
  padding-left: 4.5em; /* LTR */
}
.messages--icon .messages__content:before {
  position: absolute;
  top: 0;
  left: 0; /* LTR */
  font-size: 3em;
}
.messages--info {
  border-color: #477bb6;
  background: #ebf1f7;
}
.messages--info a {
  color: #477bb6;
}
.messages--info.messages--icon .messages__content:before {
  color: #477bb6;
}
.messages--warning {
  border-color: #ddae1e;
  background: #fbf6e5;
}
.messages--warning a {
  color: #ddae1e;
}
.messages--warning.messages--icon .messages__content:before {
  color: #ddae1e;
}
.messages--error {
  border-color: #b64747;
  background: #f7ebeb;
}
.messages--error a {
  color: #b64747;
}
.messages--error.messages--icon .messages__content:before {
  color: #b64747;
}
.messages--status {
  border-color: #77b647;
  background: #f0f7eb;
}
.messages--status a {
  color: #77b647;
}
.messages--status.messages--icon .messages__content:before {
  color: #77b647;
}

/*doc
---
title: Texte alerte
category: Components - Messages
---

```html_example

  <p class="text text--muted mvn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status mvn">Lorem ipsum dolor sit amet.</p>

```
*/
/*doc
---
title: Texte alerte icons
category: Components - Messages
---

Combine `.text` with `.text--icon` and icon `.i-info`

```html_example

  <p class="text text--muted mvn text--icon i-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info mvn text--icon i-info">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error mvn text--icon i-error">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning mvn text--icon i-warning">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status mvn text--icon i-check">Lorem ipsum dolor sit amet.</p>

  <p class="ok">Lorem ipsum dolor sit amet.</p>
  <p class="warning">Lorem ipsum dolor sit amet.</p>
  <p class="error">Lorem ipsum dolor sit amet.</p>

```

*/
.text--icon:before {
  margin-right: 5px; /* LTR */
}

.text--muted {
  color: #999;
}

.text--info,
.has--info {
  color: #477bb6;
}

.text--warning,
.has--warning,
.warning {
  color: #ddae1e;
}

.text--error,
.has--error,
.error {
  color: #b64747;
}

.text--status,
.has--status,
.ok {
  color: #77b647;
}

/*doc
---
title: Table message
category: Components - Messages
---

```html_example

  <table>
    <caption>Jimi Hendrix - albums</caption>
    <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="warning">
        <td>Are You Experienced</td>
        <td>1967</td>
        <td>$10.00</td>
      </tr>
      <tr class="error">
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
      </tr>
      <tr class="ok">
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
      </tr>
    </tbody>
  </table>

```

*/
table tr.info {
  background: #ebf1f7;
}
table tr.info td {
  color: #477bb6;
}

table tr.warning {
  background: #fbf6e5;
}
table tr.warning td {
  color: #ddae1e;
}

table tr.error {
  background: #f7ebeb;
}
table tr.error td {
  color: #b64747;
}

table tr.ok {
  background: #f0f7eb;
}
table tr.ok td {
  color: #77b647;
}

.mark--new {
  background: #b64747;
  color: #fff;
}

.mark--unpublished {
  background: #ddae1e;
  color: #fff;
}

.mark--updated {
  background: #477bb6;
  color: #fff;
}
