
// Body color
body {
  background: $body-background;
  color: $body-color;
}

// Default Markup Color
code, kbd, samp { color: #a00c31; }
mark, .highlight { background: #ff0; color: #000; }
kbd { background: #000; color: #fff; }
code { background: #f7f7f7; }
ins { color: #005d23; }
th { background: $body-color; color: #fff; }

// Defaut links color
a {
  border-bottom: 1px solid;
  background: transparent;
  color: #{map-get($colorz, 'default')};
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    color: #{map-get($colorz, 'secondary')};
  }
}

// Components : button
@each $name, $color in $colorz {
  .btn--#{$name} {
    background-color: $color;
    color: #fff;
    &:hover, &:focus, &:active, &.active {
      border-color: $color;
      background-color: darken($color, 10%);
    }
  }
}

// Components : poll
.poll {
  &-bars {
    .foreground {
      background: #{map-get($colorz, 'default')};
    }
  }
}

// Components : pagination
.pagination {
  &--current strong {
    background: #{darken(map-get($colorz, 'default'), 10%)};
    color: #fff;
  }
  &__link {
    &:hover,
    &:focus {
      background: #{map-get($colorz, 'default')};
      color: #fff;
    }
  }
}

// Components : progress-bar
.progress {
  .filled {
    background: #{map-get($colorz, 'default')};
  }
}

// Components : search-form
.search__submit {
  &:hover,
  &:focus,
  &:active {
    background: #{map-get($colorz, 'primary')};
  }
}

// Components : tabs
ul.links,
.tabs--user {
  .active {
    color: #{map-get($colorz, 'primary')};
  }
}
